.whole {
  padding-top: 40px;

  .container {
    margin: auto;
    border: 1px solid $base-gray;
    padding: 3px;
    width: 565px;
    height: 610px;
    overflow-y: auto;

    .form {
      margin: auto;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 2px;
      width: 540px;
      height: 225px;
    }

    .employeeslist {
      float: left;
      margin-top: 10px;
      border: 1px solid $base-gray;
      padding: 3px;
      width: 258px;
    }
  }
}
