.container {
  border: 1px solid $base-gray;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  width: 250px;
  height: 70px;

  .img-container {
    img {
      margin-top: -45px;
      width: 50px;
      height: 50px;
    }
  }

  .data-container {
    margin-left: 60px;

    .position {
      color: $base-gray;
    }
  }
}

//https://askubuntu.com/questions/508934/how-to-install-libpng-and-zlib
